<h1>To Do</h1>

<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" name="Create a Task">
</form>


{% for task in tasks %}
    <div>
        <div class="container">
            <a href="{% url 'updateTask' task.id%}">Update</a>
            <a href="{% url 'deleteTask' task.id%}">Delete</a>
       
        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <span>{{task}}</span>
        {% endif %}
        </div>

    </div>
{% endfor %}